body {
box-sizing: borderbox;
background-color: #FFF3E1;
}

@media screen and (width >=320px) {
	#some-id {
		color: #E6F7F7;
	}
}

@media screen and (width >=500px) {
	#some-id {
		color: #E6F7F7;
	}
}
.greetings-from {
	font-family: 'Yesteryear';
	color: #432718;
	font-size: 20;
	text-transform: titlecase;

}

.page-title {
	font-family: 'kadwa';
	color: #F6B552;
	font-size: 42;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	font-kerning: 28;
}

.main-description {
	font-family: 'Kadwa';
	font-size: 17;
}

.site-titles {
	font-family: 'Yesteryear';
	font-size: 22;
	text-transform: titlecase;
	font-weight: 700;
	line-height: 1;
	font-kerning: 3%;
	color: #432718;
}

.heading-2 {
	font-size: 20;
	font-weight: 500;
	line-height: 1;
	font-family: 'Kadwa';
	color: #432718;
}

.description {
	font-family: 'kadwa';
	font-size: 17px;
	line-height: 1;
	font-weight: 500;
	font-kerning: 3%;
	color: #432718;
}

.tip-titles {
	font-size: 18;
	font-family: 'Kadwa';


}
